@charset "utf-8";

body {
    background-image: url('../1x/back.jpg');
    background-size: cover;
}

.title_container {
    display: flex;
    justify-content: left;
    margin: 66px 55px 110px 360px;

}

.title_container img {
    width: 131px;
    height: 119px;
    padding: 0 55px 0 0;
}

.title_container p {
    text-align: left;
}

.title_container p.name {
    font-size: 16px;
    font-family: 'Hiragino Mincho ProN W6';
    padding-bottom: 5px;
    padding-top: 5px;
}

.title_container p.content {
    font-size: 40px;
    font-family: Hiragino Mincho ProN W6;
    padding-bottom: 11px;

}

.title_container p.english_title {
    font-size: 14px;
    font-family: 'Didot';
    padding-bottom: 5px;
}

.title_container p.categories {
    font-size: 11px;
    padding-bottom: 5px;
}

ul {
    writing-mode: vertical-rl;
    font-size: 18px;
    width: 730px;
    height: 144px;
}

ul li {
    margin-left: 35px;
    margin-right: 35px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    background-color: #e50013;
    cursor: pointer;
    border: none;
    margin: 0 0 0 118px;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 11px;
    border-radius: 2px;

}

.fv {
    position: relative;
    display: inline-block;
}

.fv img {
    width: 100%;
    align-items: center;
}


.red_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e50013;
    transform: translateX(-100%);
    transition: transform 0.4s;

}

.fv:hover .line {
    transform: translateX(0);
}

.content {
    display: flex;
    justify-content: left;
}

.content img {
    width: 7%;
    margin: 96px 57px 170px 360px;
}

.content h2 {
    text-align: left;
    font-family: 'Hiragino Mincho ProN W6';
    font-size: 40px;
    letter-spacing: 0.24em;
    margin: 124px 0px 172px;

}

.designlog01 {
    display: flex;
    justify-content: left;
}

.designlog01 img {
    margin: 0px 0px 0px 300px;
}

.designlog01ex p {
    text-align: left;
}

.designlog01tag p {
    font-size: 10px;
    width: 200px;
    height: 18px;
    margin-bottom: 11px;
}

.designlog01title h3 {
    font-size: 28px;
    font-family: 'Hiragino Mincho ProN W6';
    width: 336px;
    height: 35px;
    margin-bottom: 40px;
}

.designlog01senetence p {
    font-size: 16px;
    line-height: 194%;
    width: 379px;
    height: 50px;
    margin-bottom: 20px;
}

.tools p {
    font-size: 14px;
    margin-bottom: 22px;
}

.details p {
    font-size: 14px;
    border-bottom: 2px solid #1d1d1d;
    display: inline-block;
    margin: 0 0 0 339px;
}