@charset "utf-8";

body {
    background-image: url('../1x/back.jpg');
    background-size: cover;
}

.title_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3% 13% 5% 13%;


}

.title_container img {
    width: 131px;
    height: 119px;
    padding: 0% 2% 0% 0%;
}

.title p {
    text-align: left;
}

.name {
    font-size: 16px;
    font-family: 'Hiragino Mincho ProN W6';
    padding-bottom: 5px;
    padding-top: 5px;
}

.title p:nth-child(2) {
    font-size: 40px;
    font-family: 'Hiragino Mincho ProN W6';
    padding-bottom: 11px;

}

.english_title {
    font-size: 14px;
    font-family: 'Didot';
    padding-bottom: 5px;
}

.categories p {
    font-size: 11px;
    padding-bottom: 5px;
}

ul {
    writing-mode: vertical-rl;
    font-size: 18px;
    padding: 0% 3% 0% 20%;
}

ul li {
    margin-right: 35px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    background-color: #e50013;
    cursor: pointer;
    border: none;
}

.hamburger-line1,
.hamburger-line2 {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 11px;
    border-radius: 2px;

}

.hamburger-line3 {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;

}

.fv {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fv img {
    width: 100%;
    display: block;
    height: auto;
}


.fv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e50013;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 2s ease-in-out;

}

.fv:hover::after {
    transform: scaleX(1);
}


.designlog_outline,
.aboutmyself,
.contact {
    max-width: 1200px;
    margin: 0 auto;

}

.content {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5% 0 10%;
}

.content img {
    width: 152px;
}

.content h2 {
    text-align: left;
    font-family: 'Hiragino Mincho ProN W6';
    font-size: 40px;
    letter-spacing: 0.24em;
    padding-left: 56px;

}

.designlog,
.kumeno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.designlogex,
.kumenoex p {
    text-align: left;
}

.designlogtag {
    font-size: 10px;

}

.designlogtitle {
    font-size: 28px;
    font-family: 'Hiragino Mincho ProN W6';
    margin-bottom: 40px;
}

.designlogsentence {
    font-size: 16px;
    line-height: 194%;
    margin-bottom: 20px;
}

.tools {
    font-size: 14px;
    margin-bottom: 22px;
}

.details {
    position: relative;
}

.details::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 92px;
    height: 1px;
    border-radius: 1px;
    background-color: #1d1d1d;
}

.more {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;

}


.more p {
    font-size: 14px;
}

.more img {
    width: 10px;
    height: 4px;
}

.topbtn {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: #e50013;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.topbtn img {
    width: 24px;
    height: 10px;
    padding: 24px 0 10px;
}

.topbtn p {
    font-size: 13px;
    color: #ffffff;
}

.viewbtn {
    width: 290px;
    height: 124px;
    background: #e50013;
    border-radius: 62px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.viewbtn img {
    width: 24px;
    height: 8px;
    padding-right: 22px;
}

.viewbtn p {
    font-size: 16px;
    font-family: 'Hiragino Mincho ProN W6';
    color: #ffffff;
    letter-spacing: 0.2em;
}

.kumenoex h3 {
    font-size: 32px;
    font-family: 'Hiragino Mincho ProN W6';
    padding-bottom: 40px;
}

.kumenoex p {
    font-size: 18px;
    line-height: 200%;
}

.form {
    font-size: 16px;
    line-height: 200%;
    margin: auto;
    text-align: center;
    background: #ffffff;
    padding: 63px 0 32px 0;
    width: 1240px;
    height: 528px;
    border-radius: 20px;
}

.formbtn {
    width: 500px;
    height: 76px;
    background: #e50013;
    border-radius: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.formbtn p {
    font-size: 14px;
    color: #ffffff;
    padding-right: 39px;
}

.formbtn img {
    width: 13px;
    height: 13px;
}