@charset "utf-8";

body {
    background-image: url('../1x/back.jpg');
    background-size: cover;
}

.title_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 110px;
    max-width: 1200px;

}

.title_container img {
    width: 131px;
    height: 119px;
    padding: 0 55px 0 0;
}

.title_container p {
    text-align: left;
}

.title_container p.name {
    font-size: 16px;
    font-family: 'Hiragino Mincho ProN W6';
    padding-bottom: 5px;
    padding-top: 5px;
}

.title_container p.content {
    font-size: 40px;
    font-family: Hiragino Mincho ProN W6;
    padding-bottom: 11px;

}

.title_container p.english_title {
    font-size: 14px;
    font-family: 'Didot';
    padding-bottom: 5px;
}

.title_container p.categories {
    font-size: 11px;
    padding-bottom: 5px;
}

ul {
    writing-mode: vertical-rl;
    font-size: 18px;
}

ul li {
    margin-left: 35px;
    margin-right: 35px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    background-color: #e50013;
    cursor: pointer;
    border: none;
}

.hamburger-line1,
.hamburger-line2 {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 11px;
    border-radius: 2px;

}

.hamburger-line3 {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;

}

.fv {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fv img {
    width: 100%;
    display: block;
    height: auto;
}


.fv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e50013;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 2s ease-in-out;

}

.fv:hover::after {
    transform: scaleX(1);
}



.content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content img {
    width: 7%;
}

.content h2 {
    text-align: left;
    font-family: 'Hiragino Mincho ProN W6';
    font-size: 40px;
    letter-spacing: 0.24em;
    padding-left: 56px;

}

.designlog01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.designlog01ex p {
    text-align: left;
}

.designlog01tag p {
    font-size: 10px;

}

.designlog01title h3 {
    font-size: 28px;
    font-family: 'Hiragino Mincho ProN W6';
    margin-bottom: 40px;
}

.designlog01senetence p {
    font-size: 16px;
    line-height: 194%;
    margin-bottom: 20px;
}

.tools p {
    font-size: 14px;
    margin-bottom: 22px;
}

.details {
    position: relative;
}

.details::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 92px;
    height: 1px;
    border-radius: 1px;
    background-color: #1d1d1d;
}

.more {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;

}

.more p {
    font-size: 14px;
}

.more img {
    width: 10px;
    height: 4px;
}